<ul class="ant-pagination" unselectable="unselectable">
	<li title="Previous Page" class="ant-pagination-disabled ant-pagination-prev">
		<a></a>
	</li>

	<li ng-attr-title="Page {{page.index}}" class="ant-pagination-item"
			ng-repeat="page in pager.pages" ng-click="goto(page)"
			ng-class="{'ant-pagination-item-active':page.active}">
		<a>{{page.index}}</a>
	</li>

	<li title="Next 5 Page" class="ant-pagination-jump-next">
		<a></a>
	</li>
	<li title="Last Page: 25" class="ant-pagination-item ant-pagination-item-25">
		<a>25</a>
	</li>
	<li title="Next Page" class="ant-pagination-next">
		<a></a>
	</li>

	<div class="ant-pagination-options">
		<span class="ant-pagination-options-size-changer ant-select">
			<span class="ant-select-selection ant-select-selection--single" role="combobox" aria-autocomplete="list"
			aria-haspopup="true" tabindex="0" aria-expanded="false">
				<span class="ant-select-selection__rendered">
					<span>{{pager.pageSize}} 条/页</span>
				</span>
				<span class="ant-select-arrow" tabindex="-1" style="outline:none;">
					<b></b>
				</span>
			</span>
		</span>
	</div>
</ul>